<% if logged_in? %>
    <script type="text/javascript">
        window.currentBeing = <%= render("being.json.jbuilder", being: current_being).html_safe %>;
    </script>
<% end %>

<main id="root">React done broke!</main>