.shoebuckle.btn {
    background: $lightest;
    color: $light;

    padding: $btn-vertical-padding $btn-horizontal-padding;
    margin: $btn-vertical-margin $btn-horizontal-margin;

    font-weight: 600;

    border-radius: $small-round;

    cursor: pointer;

    &:hover {
        background: $lighter;
        color: $dark;
    }

    &.primary {
        background: $primary;
        color: $white;

        &:hover {
            background: darken($primary, $darken-amt);
        }
    }

    &.secondary {
        background: $secondary;
        color: $white;

        &:hover {
            background: darken($secondary, $darken-amt);
        }
    }

    &.basic {
        background: transparent;
        border: $thin solid $lightest;

        &:hover {
            color: $light;
            border-color: $lighter;
        }

        &.inverted {
            border-width: $bold;
            color: lighten($light, $lighten-amt);
            border-color: lighten($lightest, $lighten-amt);

            &:hover {
                background: lighten($lightest, $lighten-amt);
                color: $white;
            }
        }
    }

    &.animated {
        position: relative;
        overflow: hidden;

        .btn-content {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .btn-content.hidden {
            position: absolute;
            top: 0;
            left: 100%;

            transition: left $btn-move-speed;
        }

        .btn-content.visible {
            position: relative;
            right: 0;
            transition: right $btn-move-speed;
        }

        &:hover {
            background: darken($lightest, $darken-amt);
            color: $light;
            
            .btn-content.hidden {
                left: 0;
            }

            .btn-content.visible {
                right: calc(100% + #{ 2 * $btn-horizontal-padding });
            }
        }

        &.vertical {
            .btn-content.hidden {
                top: initial;
                bottom: 100%;
                left: 0;

                transition: bottom $btn-move-speed;
            }

            .btn-content.visible {
                top: 0;

                transition: top $btn-move-speed;
            }

            &:hover {
                .btn-content.hidden {
                    bottom: 0;
                }

                .btn-content.visible {
                    top: calc(1em + #{ 2 * $btn-vertical-padding });
                    right: 0; 
                }
            }
        }

        &.fade {
            .btn-content.hidden {
                top: 0;
                left: 0;
                opacity: 0;

                transition: opacity $btn-fade-speed;
            }

            .btn-content.visible {
                top: 0;
                opacity: 1;

                transition: opacity $btn-fade-speed;
            }

            &:hover {
                .btn-content.hidden {
                    opacity: 1;
                }

                .btn-content.visible {
                    opacity: 0;
                    right: 0; 
                }
            }
        }
    }

    &.red, &.red:hover {
        color: $red;
        border-color: $red;

        &.inverted {
            color: lighten($red, $lighten-amt);
            border-color: lighten($red, $lighten-amt);

            &:hover {
                background: lighten($red, $lighten-amt);
                color: $white;
            }
        }
    }

    &.orange, &.orange:hover {
        color: $orange;
        border-color: $orange;

        &.inverted {
            color: lighten($orange, $lighten-amt);
            border-color: lighten($orange, $lighten-amt);

            &:hover {
                background: lighten($orange, $lighten-amt);
                color: $white;
            }
        }
    }

    &.yellow, &.yellow:hover {
        color: $yellow;
        border-color: $yellow;

        &.inverted {
            color: lighten($yellow, $lighten-amt);
            border-color: lighten($yellow, $lighten-amt);

            &:hover {
                background: lighten($yellow, $lighten-amt);
                color: $white;
            }
        }
    }

    &.olive, &.olive:hover {
        color: $olive;
        border-color: $olive;

        &.inverted {
            color: lighten($olive, $lighten-amt);
            border-color: lighten($olive, $lighten-amt);

            &:hover {
                background: lighten($olive, $lighten-amt);
                color: $white;
            }
        }
    }

    &.green, &.green:hover {
        color: $green;
        border-color: $green;

        &.inverted {
            color: lighten($green, $lighten-amt);
            border-color: lighten($green, $lighten-amt);

            &:hover {
                background: lighten($green, $lighten-amt);
                color: $white;
            }
        }
    }

    &.teal, &.teal:hover {
        color: $teal;
        border-color: $teal;

        &.inverted {
            color: lighten($teal, $lighten-amt);
            border-color: lighten($teal, $lighten-amt);

            &:hover {
                background: lighten($teal, $lighten-amt);
                color: $white;
            }
        }
    }

    &.blue, &.blue:hover {
        color: $blue;
        border-color: $blue;

        &.inverted {
            color: lighten($blue, $lighten-amt);
            border-color: lighten($blue, $lighten-amt);

            &:hover {
                background: lighten($blue, $lighten-amt);
                color: $white;
            }
        }
    }

    &.violet, &.violet:hover {
        color: $violet;
        border-color: $violet;

        &.inverted {
            color: lighten($violet, $lighten-amt);
            border-color: lighten($violet, $lighten-amt);

            &:hover {
                background: lighten($violet, $lighten-amt);
                color: $white;
            }
        }
    }

    &.purple, &.purple:hover {
        color: $purple;
        border-color: $purple;

        &.inverted {
            color: lighten($purple, $lighten-amt);
            border-color: lighten($purple, $lighten-amt);

            &:hover {
                background: lighten($purple, $lighten-amt);
                color: $white;
            }
        }
    }

    &.pink, &.pink:hover {
        color: $pink;
        border-color: $pink;

        &.inverted {
            color: lighten($pink, $lighten-amt);
            border-color: lighten($pink, $lighten-amt);

            &:hover {
                background: lighten($pink, $lighten-amt);
                color: $white;
            }
        }
    }

    &.grey, &.grey:hover {
        color: $grey;
        border-color: $grey;

        &.inverted:hover {
            background: $grey;
            color: $white;
        }
    }

    &.black, &.black:hover {
        color: $black;
        border-color: $black;

        &.inverted {
            color: $white;
            border-color: $white;

            &:hover {
                background: $white;
                color: $black;
            }
        }
    }
}