.shoebuckle.dragndrop {
    padding: $dragndrop-vertical-padding 0;
    width: 100%;
    
    .dragndrop-folder {
        font-size: $small-font-size;
        
        .dragndrop-folder-children {
            padding-left: $dragndrop-folder-children-left-padding;
        }
    }

    .dragndrop-item {
        font-size: $body-font-size;
    }

    .dragging {
        opacity: 0.5;
    }
}