.shoebuckle.dragndrop {
    padding: $dragndrop-vertical-padding 0;
    width: 100%;
    
    .dragndrop-folder {
        font-size: $small-font-size;
        
        .dragndrop-folder-children {
            padding-left: $dragndrop-folder-children-left-padding;
        }
    }

    .dragndrop-item {
        font-size: $body-font-size;
    }

    .draggable {
        padding-bottom: $dragndrop-item-bottom-padding;

        &.dragging-before:before {
            content: " ";
            width: 100%;
            height: 2px;
            background: $lighter;
            display: block;
        }
    }

    .dragging {
        opacity: 0.5;
    }
}