.shoebuckle.dropdown {
    position: relative;
    
    .dropdown-bg {
        cursor: default;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        background: $dimmer;

        visibility: visible;
        opacity: 1;
        transition: visibility 0s, opacity $dropdown-move-speed;

        &.hidden {
            visibility: hidden;
            opacity: 0;
            transition: visibility 0s ease $dropdown-move-speed, opacity $dropdown-move-speed;
        }

        @media screen and (min-width: $breakpoint) {
            background: transparent;
        }
    }
    
    .dropdown-content {
        z-index: 1;
        width: 100vw;

        position: fixed;
        left: 0;
        bottom: 0;
        top: $dropdown-top;

        background: $white;
        transform: none;
        transition: transform $dropdown-move-speed;

        @media screen and (min-width: $breakpoint) {
            position: absolute;
            top: $dropdown-desktop-top;
            right: 0;
            left: auto;
            bottom: auto;
            width: $dropdown-width;
            border-radius: $small-round;
            display: block;
        }

        &.hidden {
            transform: translate3d(0, $window-height, 0);

            @media screen and (min-width: $breakpoint) {
                display: none;
            }
        }

        &.inverted {
            background: $dark;

            @media screen and (min-width: $breakpoint) {
                background: $darkest;
            }
        }

        >* {
            padding: 0 $dropdown-content-padding;
            margin: $dropdown-content-padding 0;
        }

        .dropdown-header {
            padding-top: $dropdown-content-padding;
            margin-top: 0;

            &.inverted {
                background: $darker;
            }

            .dropdown-item {
                background: transparent;
            }
        }

        .dropdown-group {
            @media screen and (min-width: $breakpoint) {
                margin: 0;
                padding-top: #{ $dropdown-content-padding / 2 };
                padding-bottom: #{ $dropdown-content-padding / 2 };
                
                &:nth-child(n + 2) {
                    border-top: $thin solid $light;

                    &.inverted {
                        border-color: $darker;
                    }
                }
            }

            .dropdown-item {
                border-radius: 0;

                @media screen and (min-width: $breakpoint) {
                    border-radius: $small-round;
                }
            }
            
            .dropdown-item:first-child {
                border-top-left-radius: $small-round;
                border-top-right-radius: $small-round;
            }

            .dropdown-item:last-child {
                border-bottom-left-radius: $small-round;
                border-bottom-right-radius: $small-round;
            }

            .dropdown-item:nth-child(n + 2) {
                border-top: $thin solid $light;

                @media screen and (min-width: $breakpoint) {
                    border: none;
                }

                &.inverted {
                    border-color: $darker;
                }
            }
        }

        .dropdown-item {
            padding: $dropdown-item-vertical-padding $dropdown-item-horizontal-padding;
            background: $light;
            border-radius: $small-round;

            @media screen and (min-width: $breakpoint) {
                display: flex;
                justify-content: space-between;
                background: transparent;
            }

            &:hover {
                background: $blue;
                color: $white;

                * {
                    color: $white;
                }
            }

            &.inverted {
                background: $darkest;

                &:hover {
                    background: $blue;
                    color: $white;

                    * {
                        color: $white;
                    }
                }
            }

            &.blue {
                color: $blue;   
            }
            
            &.horizontal {
                display: flex;
                justify-content: space-between;
            }
        }
    }
}