.shoebuckle.dropdown {
    .dropdown-bg {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        background: $dimmer;

        visibility: visible;
        opacity: 1;
        transition: visibility 0s, opacity $dropdown-move-speed;

        &.hidden {
            visibility: hidden;
            opacity: 0;
            transition: visibility 0s ease $dropdown-move-speed, opacity $dropdown-move-speed;
        }
    }
    
    .dropdown-content {
        z-index: 1;
        width: 100vw;

        position: fixed;
        left: 0;
        bottom: 0;
        top: $dropdown-top;

        background: $white;
        transform: none;
        transition: transform $dropdown-move-speed;

        &.hidden {
            transform: translate3d(0, $window-height, 0);
        }

        &.inverted {
            background: $dark;
        }

        >* {
            padding: 0 $dropdown-content-padding;
            margin: $dropdown-content-padding 0;
        }

        .dropdown-header {
            padding-top: $dropdown-content-padding;
            margin-top: 0;

            &.inverted {
                background: $darker;
            }

            .dropdown-item {
                background: transparent;
            }
        }

        .dropdown-group {
            .dropdown-item {
                border-radius: 0;
            }
            
            .dropdown-item:first-child {
                border-top-left-radius: $small-round;
                border-top-right-radius: $small-round;
            }

            .dropdown-item:last-child {
                border-bottom-left-radius: $small-round;
                border-bottom-right-radius: $small-round;
            }

            .dropdown-item:nth-child(n + 2) {
                border-top: $thin solid $light;

                &.inverted {
                    border-color: $darker;
                }
            }
        }

        .dropdown-item {
            padding: $dropdown-item-vertical-padding $dropdown-item-horizontal-padding;
            background: $light;
            border-radius: $small-round;

            &.inverted {
                background: $darkest;
            }
            
            &.horizontal {
                display: flex;
                justify-content: space-between;
            }
        }
    }
}