.shoebuckle.error {
    background: desaturate($error, $desaturate-amt);
    border-color: darken($error, $much-darker-amt);
    color: darken($error, $much-darker-amt);

    .message-header {
        color: desaturate(darken($error, $very-dark-amt), $desaturate-amt);
    }
}