h1 {
    font-size: $h1-font-size;
}

h2 {
    font-size: $h2-font-size;
}

h3 {
    font-size: $h3-font-size;
}

h4 {
    font-size: $h4-font-size;
}

h5 {
    font-size: $h5-font-size;
}

h6 {
    font-size: $h6-font-size;
}

.shoebuckle.header {
    font-family: $header-font;
    margin-bottom: $header-bottom-margin;
    
    &.mini {
        font-size: $mini-header-font-size;
    }
    
    &.tiny {
        font-size: $tiny-header-font-size;
    }

    &.small {
        font-size: $small-header-font-size;
    }

    &.medium {
        font-size: $medium-header-font-size;
    }

    &.large {
        font-size: $large-header-font-size;
    }

    &.huge {
        font-size: $huge-header-font-size;
    }

    &.dividing:after {
        content: " ";
        display: block;
        width: 100%;
        border-bottom: $thin solid $lightest;
        padding-bottom: $header-bottom-padding;
    }

    &.fluid {
        width: 100%;
    }

    &.icon {
        display: flex;
        flex-direction: column;
        align-items: center;

        .icon {
            font-size: $massive;
        }
    }

    .icon {
        font-size: $small-header-font-size;
    }

    .header-subheader {
        font-family: $body-font;
        font-weight: 400;
        font-size: $mini-header-font-size;
    }
}