/* Colors */
$black: #08090A !default;
$white: #FFFFFC !default;

$primary: #D62828 !default;
$accent: #F77F00 !default;

$red: #BF0603 !default;
$green: #5FAD56 !default;
$blue: #4464AD !default;
$yellow: #FFEC51 !default;

$lightest: #9FAFBC !default;
$lighter: #647D90 !default;
$light: #4B5D6C !default;
$dark: #2C363F !default;
$darker: #212930 !default;
$darkest: #111518 !default;

@import "reset";