/* Colors */
$primary: #D62828 !default;
$secondary: #1E1F20 !default;
$accent: #F77F00 !default;

$black: #08090A !default;
$grey: #596475 !default;
$white: #FFFFFC !default;

$red: #BF0603 !default;
$orange: #F19143 !default;
$yellow: #FFBC0A !default;
$olive: #65743A !default;
$green: #5FAD56 !default;
$teal: #32A287 !default;
$blue: #4464AD !default;
$violet: #856084 !default;
$purple: #9D8DF1 !default;
$pink: #EA526F !default;

$lightest: #dbe1e7 !default;
$lighter: #98A3AE !default;
$light: #6F7D8C !default;
$dark: #2C363F !default;
$darker: #212930 !default;
$darkest: #111518 !default;

$information: #D6EEFF !default;
$warning: #e8da88 !default;
$success: #98e090 !default;
$error: #f37f7d !default;

$dimmer: rgba(0, 0, 0, 0.4) !default;

/* Color Adjustments */
$darken-amt: 8%;
$lighten-amt: 8%;

$darker-amt: 20%;

$much-darker-amt: 40%;

$very-dark-amt: 55%;

$desaturate-amt: 10%;

/* Whitespace */
$btn-horizontal-padding: 1rem !default;
$btn-cmpct-horizontal-padding: 0.5rem !default;
$btn-vertical-padding: 0.625rem !default;
$btn-cmpct-vertical-padding: 0.3125rem !default;

$btn-horizontal-margin: 0.125rem !default;
$btn-vertical-margin: 0rem !default;

$form-horizontal-padding: 1.5rem !default;
$form-vertical-padding: 1.125rem !default;

$form-field-bottom-margin: 0.625rem !default;

$form-checkbox-right-margin: 0.25rem !default;

$form-input-horizontal-padding: 0.625rem !default;
$form-input-vertical-padding: 0.375rem !default;

$header-bottom-padding: 0.125rem !default;
$header-bottom-margin: 1rem !default;

$icon-horizontal-padding: 0.125rem !default;
$icon-vertical-padding: 0rem !default;

$label-horizontal-padding: 0.5rem !default;
$label-vertical-padding: 0.1875rem !default;
$label-horizontal-margin: 0.125rem !default;
$label-vertical-margin: 0.125rem !default;

$menu-item-padding: 0.5rem !default;
$menu-item-padding-secondary: 0.25rem !default;
$menu-item-margin-secondary: #{ $menu-item-padding - $menu-item-padding-secondary };
$menu-item-vertical-margin-left: 0.5rem !default;

$message-horizontal-padding: 1rem !default;
$message-vertical-padding: 0.875rem !default;
$message-vertical-margin: 1rem !default;

$message-header-bottom-margin: 0.125rem !default;

$message-list-left-margin: 1.125rem !default;

$modal-padding: 1.125rem !default;

$modal-header-bottom-margin: 1.125rem !default;

$sidebar-left-margin: 1rem !default;

/* Font family*/
$header-font: "Staatliches", cursive;
$body-font: "Open Sans", sans-serif;

/* Font size */
$h1-font-size: 2.4rem !default;
$h2-font-size: 1.8rem !default;
$h3-font-size: 1.4rem !default;
$h4-font-size: 1rem !default;
$h5-font-size: 0.75rem !default;
$h6-font-size: 0.5rem !default;

$huge-header-font-size: 2.4em !default;
$large-header-font-size: 1.8em !default;
$medium-header-font-size: 1.4em !default;
$small-header-font-size: 1em !default;
$tiny-header-font-size: 0.75em !default;
$mini-header-font-size: 0.6em !default;

$body-font-size: 0.875rem !default;

/* Sizes */
$mini: 0.375rem !default;
$tiny: 0.5625rem !default;
$small: 0.75rem !default;
$normal: 0.875rem !default;
$large: 1.375rem !default;
$big: 2rem !default;
$huge: 3rem !default;
$massive: 4.5rem !default;

/* Dimensions */
$menu-item-min-width: 40px;

$sidebar-width: 275px;

/* Border */
$small-round: 4px !default;

$label-arrow: 5px !default;
$menu-arrow: 8px !default;

$thin: 1px !default;
$bold: 2px !default;

/* Timings */
$btn-move-speed: 0.25s !default;
$btn-fade-speed: 0.5s !default;

$sidebar-move-speed: 0.5s !default;

/* Shadows */
$small-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
$vertical-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);

@import "reset";

/* Modifiers */
@import "colors";
@import "fluid";
@import "sizes";

/* Components */
@import "button";
@import "form";
@import "header";
@import "icon";
@import "label";
@import "menu";
@import "message";
@import "modal";
@import "section";
@import "sidebar";

/* States */
@import "error";
@import "information";
@import "success";
@import "warning";

.no-scroll {
    overflow-y: hidden;
    height: 100%;
}

.test-row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    padding: 10px 0;
    width: 100%;

    &.inverted {
        background: $black;
    }

    &.column {
        flex-direction: column;
    }

    &.left {
        justify-content: flex-start;
    }
}