.shoebuckle.label {
    background: $lightest;
    border-radius: $small-round;
    padding: $label-vertical-padding $label-horizontal-padding;

    >*:nth-child(n + 2) {
        padding-left: $label-horizontal-padding;
    }
}