.shoebuckle.label {
    background: $lightest;
    border-radius: $small-round;
    
    margin: $label-vertical-margin $label-horizontal-margin;
    padding: $label-vertical-padding $label-horizontal-padding;

    &.floating {
        position: relative;
        margin: 0;
        padding: 0;
        width: 0;
        height: 0;

        .floating-content {
            background: inherit;
            padding: $label-vertical-padding $label-horizontal-padding;
            border-radius: $small-round;
            position: absolute;
            top: calc(-1em - #{ $label-vertical-padding });
            right: 0;
        }
    }

    >*:nth-child(n + 2) {
        padding-left: $label-horizontal-padding;
    }

    .pointing {
        padding-left: 0;
        position: absolute;

        &.above {
            top: -$label-arrow;
            left: calc(50% - #{ $label-arrow });
            width: 0;
            height: 0;
            border-left: $label-arrow solid transparent;
            border-right: $label-arrow solid transparent;
            border-bottom: $label-arrow solid $lightest;
        }

        &.left {
            top: calc(50% - #{ $label-arrow });
            left: -$label-arrow;
            width: 0;
            height: 0;
            border-top: $label-arrow solid transparent;
            border-bottom: $label-arrow solid transparent;
            border-right: $label-arrow solid $lightest;
        }

        &.below {
            bottom: -$label-arrow;
            left: calc(50% - #{ $label-arrow });
            width: 0;
            height: 0;
            border-left: $label-arrow solid transparent;
            border-right: $label-arrow solid transparent;
            border-top: $label-arrow solid $lightest;
        }

        &.right {
            top: calc(50% - #{ $label-arrow });
            right: -$label-arrow;
            width: 0;
            height: 0;
            border-top: $label-arrow solid transparent;
            border-bottom: $label-arrow solid transparent;
            border-left: $label-arrow solid $lightest;
        }
    }

    &.red {
        color: $white;
        background: $red;

        &.inverted {
            color: $white;
            background: lighten($red, $lighten-amt);
        }
    }

    &.orange {
        color: $white;
        background: $orange;

        &.inverted {
            color: $white;
            background: lighten($orange, $lighten-amt);
        }
    }

    &.yellow {
        color: $white;
        background: $yellow;

        &.inverted {
            color: $white;
            background: lighten($yellow, $lighten-amt);
        }
    }

    &.olive {
        color: $white;
        background: $olive;

        &.inverted {
            color: $white;
            background: lighten($olive, $lighten-amt);
        }
    }

    &.green {
        color: $white;
        background: $green;

        &.inverted {
            color: $white;
            background: lighten($green, $lighten-amt);
        }
    }

    &.teal {
        color: $white;
        background: $teal;

        &.inverted {
            color: $white;
            background: lighten($teal, $lighten-amt);
        }
    }

    &.blue {
        color: $white;
        background: $blue;

        &.inverted {
            color: $white;
            background: lighten($blue, $lighten-amt);
        }
    }

    &.violet {
        color: $white;
        background: $violet;

        &.inverted {
            color: $white;
            background: lighten($violet, $lighten-amt);
        }
    }

    &.purple {
        color: $white;
        background: $purple;

        &.inverted {
            color: $white;
            background: lighten($purple, $lighten-amt);
        }
    }

    &.pink {
        color: $white;
        background: $pink;

        &.inverted {
            color: $white;
            background: lighten($pink, $lighten-amt);
        }
    }

    &.grey {
        color: $white;
        background: $grey;

        &.inverted {
            color: $white;
            background: lighten($grey, $lighten-amt);
        }
    }

    &.black {
        color: $white;
        background: $black;

        &.inverted {
            color: $black;
            background: $white;
        }
    }
}