.shoebuckle.menu {
    width: 100%;
    border: $thin solid $lightest;
    border-radius: $small-round;
    box-shadow: $vertical-shadow;
    background: $white;
    
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

    &.pointing .menu-item.active:after {
        content: " ";
        position: absolute;
        left: calc(50% - #{ $menu-arrow });
        bottom: -$menu-arrow;
        border-left: $menu-arrow solid transparent;
        border-right: $menu-arrow solid transparent;
        border-top: $menu-arrow solid;
        border-top-color: $lightest;
    }

    &.secondary {
        border: none;
        box-shadow: none;

        &.pointing {
            border-bottom: $bold solid $lightest;

            .menu-item {
                padding: $menu-item-padding;
                border-radius: 0;
                margin: 0;

                &.active, &:hover {
                    background: transparent;

                    &:after {
                        border: none;
                        border-bottom: $bold solid $primary;
                        width: 100%;
                        left: 0;
                        bottom: -$bold;
                    }
                }
            }
        }

        .menu-item {
            padding: $menu-item-padding-secondary #{ 2 * $menu-item-padding-secondary };
            margin: $menu-item-margin-secondary;
            border-radius: $small-round;
        }
    }

    &.tabular {
        border: none;
        border-bottom: $thin solid $lightest;
        box-shadow: none;

        .menu-item {
            border-right: $thin solid transparent;
            border-top: $thin solid transparent;
            border-left: $thin solid transparent;

            &:hover {
                background: inherit;
            }

            &.active {
                background: inherit;
                border-top-left-radius: $small-round;
                border-top-right-radius: $small-round;
                border-right: $thin solid $lightest;
                border-top: $thin solid $lightest;
                border-left: $thin solid $lightest;

                &:after {
                    content: " ";
                    width: calc(100% - #{ 2 * $thin });
                    height: $thin;
                    background: $white;
                    position: absolute;
                    bottom: -$thin;
                    left: $thin;
                }
            }
        }
    }

    &.vertical {
        width: auto;
        flex-direction: column;
        align-items: flex-start;

        .menu-item {
            width: 100%;
            border: none;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &:nth-child(n + 2) {
                border-top: $thin solid $lightest;
            }

            >* {
                margin-left: $menu-item-vertical-margin-left;
            }
        }
    }

    .menu-item {
        position: relative;
        display: inline-block;
        padding: $menu-item-padding;
        border-right: inherit;
        cursor: pointer;

        &:hover {
            background: $lightest;
        }

        &.active {
            background: $lightest;
        }
    }
}