.modal-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1;
    
    .modal-bg {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        background: $dimmer;

        z-index: 1;
    }
    
    .shoebuckle.modal {
        max-height: 90vh;
        max-width: 85%;

        overflow-y: scroll;

        @media screen and (min-width: $breakpoint) {
            overflow-y: visible;
        }

        background: $white;
        z-index: 2;

        border-radius: $small-round;

        font-size: $body-font-size;

        &.inverted {
            background: $darker;
            color: $lightest;
        }

        >*:first-child {
            padding: $modal-padding;
        }

        >*:nth-child(n + 2) {
            padding: $modal-padding;
            padding-top: 0;
        }

        .modal-header {
            font-size: 1.4em;
            font-weight: bold;

            border-bottom: $thin solid $lightest;

            margin-bottom: $modal-padding;

            &.inverted {
                color: $lightest;

                border-color: $light;
            }
        }

        .modal-actions {
            display: flex;
            justify-content: flex-end;
        }
    }
}
