.shoebuckle.section {
    &.horizontal {
        display: flex;
    }

    &.inverted {
        color: $white;
    }

    &.text {
        margin: auto;
        max-width: $breakpoint;
        padding: $section-text-horizontal-padding;
    }

    * {
        margin-bottom: $section-item-bottom-margin;        
    }
}