.shoebuckle.section {
  &.horizontal {
    display: flex;
  }

  &.inverted {
    color: $lightest;
  }

  &.outline {
    border: $thin solid $black;
    border-radius: $small-round;
    padding: $section-outline-vertical-padding $section-outline-horizontal-padding;

    &.inverted {
      border-color: transparent;
      background: $darkest;
    }
  }

  &.text {
    margin: auto;
    max-width: $breakpoint;
    padding: $section-text-horizontal-padding;
  }

  >* {
    margin-bottom: $section-item-bottom-margin;        
  }
}
