.shoebuckle.sidebar-pushable {
    display: flex;
    align-items: stretch;
    
    position: relative;

    &.full-height {
        height: 100vh;

        .sidebar {
            height: 100vh;
        }

        .sidebar-pusher {
            overflow-y: auto;
        }
    }

    .sidebar {
        position: absolute;
        border-radius: 0;
        box-shadow: none;
        width: $sidebar-width;
        overflow-x: hidden;
        overflow-y: scroll;

        transform: translate3d(-$sidebar-width, 0, 0);

        transition: transform $sidebar-move-speed;

        z-index: 1;

        // Hide scrollbar
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }

        &.thin {
            transform: translate3d(-#{ $sidebar-width / 2 }, 0, 0);
            width: #{ $sidebar-width / 2 };
        }

        &.visible {
            transform: translate3d(0, 0, 0);
        }
    }

    .sidebar.visible {
        &.push {
            +.sidebar-pusher {
                transform: translate3d($sidebar-width, 0, 0);
            }

            &.thin + .sidebar-pusher {
                transform: translate3d(#{ $sidebar-width / 2 }, 0, 0);
            }
        }

        &.scale {
            +.sidebar-pusher {
                width: calc(100vw - #{ $sidebar-width });
            }

            &.thin + .sidebar-pusher {
                width: calc(100vw - #{ $sidebar-width / 2 });
            }
        }

        +.sidebar-pusher:after {
            visibility: visible;
            opacity: 1;
            transition: visibility 0s, opacity $sidebar-move-speed;
        }
    }

    .sidebar-pusher {
        width: 100vw;

        transition: all $sidebar-move-speed;

        &:after {
            content: " ";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: $dimmer;
            visibility: hidden;
            opacity: 0;
            transition: visibility 0s ease $sidebar-move-speed, opacity $sidebar-move-speed;
        }
    }
}