.shoebuckle.sidebar-pushable {
    display: flex;
    position: relative;

    .sidebar {
        border-radius: 0;
        box-shadow: none;
        height: 100%;
        width: 0;
        overflow-x: hidden;

        transition: width $sidebar-move-speed;

        // Hide scrollbar
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }

        &.overlay {
            position: absolute;
        }

        &.visible {
            width: $sidebar-width;

            &.thin {
                width: #{ $sidebar-width / 2 };
            }
        }
    }
}