.chat-window {
    position: relative;
    flex: 1 1 auto;
    margin-bottom: $chat-bar-height;
    height: 100vh;
    overflow-y: auto;

    .chat-bar {
        margin-bottom: 0;
        padding: $chat-bar-padding;
        
        position: fixed;
        bottom: 0;
        left: 0;
        height: $chat-bar-height;

        border-top: $thin dashed $black;

        &.inverted {
            border-color: $dark;
            background: $darker;
        }
        
        .shoebuckle.btn {
            position: absolute;
            top: calc(50% - #{ $large / 2 });
            right: $chat-bar-padding;
            padding: 0;
            bottom: initial;
        }
    }
}