.chat-window {
    position: relative;
    flex: 1 1 auto;
    margin-bottom: $chat-bar-height;
    height: 100vh;
    overflow-y: auto;

    .chat-bar {
        margin-bottom: 0;
        padding: $chat-bar-padding;
        
        position: fixed;
        bottom: 0;
        left: 0;
        height: $chat-bar-height;

        border-top: $thin dashed $black;

        display: flex;
        justify-content: space-between;
        align-items: center;

        &.inverted {
            border-color: $dark;
            background: $darker;
        }
        
        .shoebuckle.btn {
            position: static;
            padding: 0;
            padding-top: 4px;
            margin-left: $chat-bar-padding;
            bottom: initial;
        }
    }
}