.shoebuckle.btn.friends-button {
  background: transparent;
  color: $lightest;

  &:hover, &.selected {
    background: $darker;
  }
}

.shoebuckle.modal.friends-search-modal {
  max-width: 500px;
  width: 100%;
  margin: 0 1rem;
}

.friends-search-list {
  height: 200px;
  overflow-y: auto;

  .shoebuckle.section.friends-search-item {
    margin: 0;
    justify-content: space-between;

    >* {
      margin: 0;
    }

    &:nth-child(n + 2) {
      padding-top: 0.325rem;
      border-top: $thin solid $darker;
    }

    &:not(:last-child) {
      padding-bottom: 0.325rem;
    }
  }
}
