.shoebuckle.btn.friends-button {
  background: transparent;
  color: $lightest;

  &:hover, &.selected {
    background: $darker;
  }
}

.shoebuckle.modal.friends-search-modal {
  max-width: 500px;
  width: 100%;
  margin: 0 1rem;
}

.friends-search-list {
  height: 200px;
  overflow-y: auto;

  .shoebuckle.section.friends-search-item {
    margin: 0;
    justify-content: space-between;

    >* {
      margin: 0;
    }

    &:nth-child(n + 2) {
      padding-top: 0.325rem;
      border-top: $thin solid $darker;
    }

    &:not(:last-child) {
      padding-bottom: 0.325rem;
    }
  }
}

.shoebuckle.menu.friends-menu {
  .menu-item {
    &.active, &:hover {
      background: $darkest;
    }
  } 
}

.shoebuckle.section.friends-list-section {
  border-top: $thin solid $dark;
  padding: 1rem;
  flex: 1 1 auto;

  .friends-list-header-container {
    display: flex;
    justify-content: space-between;
  }

  .friends-list-container {
    .friend-entry {
      background: $dark;
      padding: 1rem;
      padding-bottom: 0;
      padding-left: 1.5rem;
      border-radius: $small-round;
      display: flex;
      align-items: center;
      margin-bottom: 1rem;

      .friend-name {
        margin-left: 1rem;
        font-size: 1.2rem;
      }

      .friend-entry-icon-set {
        margin-left: auto;
        align-self: flex-end;

        >* {
          margin-left: 0.5rem;
        }
      }
    }
  }
}
