.app-header {
    padding: 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-nav > ul {
        display: flex;

        li:nth-child(n + 2) {
            margin-left: 0.25rem;
        }
    }
}