.app-header {
    padding: 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: $max-content-width;
    margin: auto;

    .header-nav > ul {
        display: flex;
    }
}