$content-max-width: 100vh;

$chat-bar-padding: 1rem;
$chat-bar-height: 70px;

$missive-horizontal-padding: 1rem;
$missive-body-vertical-padding: 0.25rem;
$missive-pre-vertical-padding: 0.125rem;
$missive-date-left-padding: 0.5rem;

$summons-margin: 0.75rem;
$summons-padding: 0.75rem;

@import "app_container";
@import "bubbles";
@import "chat_window";
@import "conversations";
@import "dashboard";
@import "friends";
@import "header";
@import "missive";
@import "summons";
