$content-max-width: 100vh;

$chat-bar-padding: 1rem;

$missive-horizontal-padding: 1rem;
$missive-body-vertical-padding: 0.25rem;
$missive-pre-vertical-padding: 0.125rem;
$missive-date-left-padding: 0.5rem;

@import "app_container";
@import "chat_window";
@import "missive";
@import "header";