.missive {
    padding: 0 $missive-horizontal-padding;
    width: 100%;

    &.inverted {
        color: $lightest;
    }

    .missive-body {
        padding-bottom: $missive-body-vertical-padding;

        pre {
            padding: $missive-pre-vertical-padding 0;
            white-space: pre-wrap;
        }
    }

    .missive-header {
        color: $primary;

        .missive-date {
            color: $lightest;
            padding-left: $missive-date-left-padding;
            font-size: $small-font-size;
        }
    }
}